gis/.backups/
gis/ImportLog/
gis/Index/
gis/__pycache__/
gis/gis.gdb/
gis/gis_index/
gis/GpMessages/
gis/.pyhistory
gis/streams19*
gis/streams20*
gis/vandplan2_bek2019_ArcGIS
*blx.bib
*.aux
*.fdb_latexmk
*.fls
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.toc
